/*
 * Base structure
 */

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    /* the bottom margin is the negative value of the footer's height */
}
.footer,
.push {
    height: 50px;
    /* .push must be the same height as .footer */
}
.push {
    height: 100px;
    /* .push must be the same height as .footer */
}
body > .container {
    padding-top: 30px;
}
/* Links */

h1 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
/* Header */

#header-top {
    border-top: solid 5px #2090cf;
}
/* Navbar */

.navbar-default,
.navbar-fixed-top,
.navbar-collapse {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #f8f8f8;
}
.thumbnail {
    border: 0px;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-nav {
    padding-top: 10px;
    font-size: 1.1em;
}
.site-wrapper-inner {
    padding-top: 100px;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
.leader {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    display: inline-block;
    padding: 25px 25px 25px 25px;
    text-align: center;
}
.lead {
    text-align: left;
}
/* Custom default button */

.button {
    background: #d4d4d4;
    background: linear-gradient(#ddd, #ccc);
    border-radius: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #e7e7e7;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    height: 43px;
    line-height: 1;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-text-size-adjust: 100%;
}
.button-blue {
    background: #2090cf;
    color: #e7e7e7;
}
.button-large {
    border-radius: 6px;
    font-size: 20px;
}
.jumbotron {
    background: url(/images/kitchen.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 550px;
    color: white;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
.cover-heading {
    margin-top: 20px;
}
/* Padding for spacing */

.inner {
    padding: 30px;
}
/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}
/* Featurettes
------------------------- */

.featurette-divider {
    margin: 30px 0;
    /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
.my-icon {
    vertical-align: middle;
    font-size: 4em;
    color: #2090cf;
}
.my-text {
    font-size: 1.5em;
}
.my-fancy-container {
    display: inline-block;
    margin: 30px;
    padding: 10px;
}
/*
 * Contact
 */

.contact,
.signin {
    padding-top: 30px;
}
/*
 * Error Message
 */

.error-name,
.error-email {
    color: #A94442;
    font-size: 21px;
}
/* features */

#features .headingwrap2 h2 {
    color: #2090cf;
    font-weight: normal;
    font-size: 38px;
    margin: 36px 0;
    text-align: center;
}
/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}
/*
 * About
 */

.about img {
    height: 475px;
    width: 450px;
}
/* ###########################################
# ----------------- FOOTER ------------------#
########################################### */
/* FOOTER APPPLICATION start */

#footer.application {
    background: #444;
}
#footer.application #footer-inner {
    color: #e7e7e7;
    padding: 10px 0 5px;
}
#footer.application #footer-inner h3 {
    font-size: 1.5em;
    color: #e7e7e7;
    margin-top: 1px;
    margin-bottom: 1px;
}
#footer.application #footer-inner li {
    font-size: 1em;
    line-height: 25px;
}
#footer.application #footer-inner a {
    color: #e7e7e7;
}
#footer.application #footer-inner a:hover {
    color: #2090cf;
}
#footer.application #footer-bottom {
    padding: 5px 0;
    border-top: solid 1px #373737;
}
#footer.application #footer-bottom p {
    font-size: 11px;
    text-align: right;
}
/* FOOTER APPPLICATION end */
/* ###########################################
# ----------------- FOOTER ------------------#
########################################### */
/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Start the vertical centering */
    
    .site-wrapper-inner {
        vertical-align: middle;
    }
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}
@media (min-width: 992px) {
    .cover-container {
        width: 100%;
    }
    .featurette-heading {
        margin-top: 20px;
    }
}
@media all and (max-device-width: 720px) {
    h1 {
        font-size: 30px;
    }
    .featurette-heading {
        font-size: 24px;
    }
}
@media all and (max-device-width: 640px) {
    h1 {
        font-size: 25px;
    }
}
@media all and (max-device-width: 320px) {
    h1 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }
    .button-large {
        font-size: 15px;
    }
    .error-name,
    .error-email {
        font-size: 15px;
    }
}
