<div class="jumbotron" >
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div id="overview" class="leader">
                <h1 class="cover-heading">Engage. Sell. Focus.</h1>
                <h2 class="cover-heading">Bring your upgrade sales into the digital world.</h2>
                <p class="cover-heading">
                    <a href="#contact" du-smooth-scroll id="moreinfo" class="btn button-large button-blue">Try MiCasa</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="features" class="container marketing">
    <!-- START THE FEATURETTES -->
    <div class="row" id="features">
        <div class="container">
            <div class="row-fluid">
                <div class="headingwrap2">
                    <h2>The MiCasa platform immediately engages buyers and increases options sales by creating an online marketplace for home builders' upgrade programs.</h2>
                </div>
            </div>
        </div>
    </div>


 <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Innovative buyer experiences.</h2>
            <p class="lead">Home buyers can select upgrades, get recommendations, share ideas or just browse for inspiration. Designing a new home with MiCasa is easy and fun; with opportunities to make purchases everywhere along the way. Your buyers will enjoy shopping for options and spend the time to do it.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="images/mobile.png" alt="Desktop & Mobile">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="images/builder_catalog_screen.png" alt="Options Management">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Easily manage and promote home options.<span class="text-muted"></span></h2>
            <p class="lead">Option books are a thing of the past.  Going digital with our turnkey solution not only saves set-up time, but markets options to your home buyers online, as they have come to expect.  Buyers show up prepared for design meetings and cutoff dates are clearly communicated, making the entire process more efficient.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Know your buyers.</h2>
            <p class="lead">Building the right house requires communication with your buyers.  With MiCasa, your buyer info, interests and data are all in one place. This helps you get to know and analyze their interests, allowing for personalized marketing that is seamlessly built into the process. In-person design meetings are easy to prepare for by quickly viewing a buyer's profile, providing insights into their interests.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="images/profile.png" alt="Profile & Dashboards">
        </div>
    </div>
    <hr class="featurette-divider">

        <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="images/designers.jpg" alt="Options Management">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Designers and design centers work more efficiently.<span class="text-muted"></span></h2>
            <p class="lead">Engage with your buyers immediately allowing them to start shopping prior to the design meeting. This keeps the sales momentum and reduces the length and number of design meetings. Explain technical upgrades within MiCasa's platform, easing this burden on designers.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    <div class="row" id="features">
        <div class="container">
            <div class="row-fluid">
                <div class="headingwrap2">
                    <h2 id="features">Empowering home builders, buyers and designers. <a href="#contact">Schedule a demo to learn more.</a></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <div class='my-fancy-container'>
                    <span class="my-icon fa fa-mobile fa-5x"></span>
                    <span class="my-text">Mobile Ready</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class='my-fancy-container'>
                    <span class="my-icon fa fa-share-alt"></span>
                    <span class="my-text">Sharing</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class='my-fancy-container'>
                    <span class="my-icon fa fa-shopping-cart"></span>
                    <span class="my-text">Online Shopping</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <div class='my-fancy-container'>
                    <span class="my-icon fa fa-tasks"></span>
                    <span class="my-text">Options Management</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class='my-fancy-container'>
                    <span class="my-icon fa fa-sitemap"></span>
                    <span class="my-text">Product Variants</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class='my-fancy-container'>
                    <span class="my-icon fa fa-dashboard"></span>
                    <span class="my-text">Buyer Dashboards</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <div class='my-fancy-container'>
                    <span class="my-icon fa fa-user"></span>
                    <span class="my-text">Vendor Management</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class='my-fancy-container'>
                    <span class="my-icon fa fa-line-chart"></span>
                    <span class="my-text">Reporting & Analytics</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class='my-fancy-container'>
                    <span class="my-icon fa fa-cloud"></span>
                    <span class="my-text">Cloud Based</span>
                </div>
            </div>
        </div>
    </div>
     <hr class="featurette-divider">
         <div class="row" id="testamonials">
        <div class="container">
            <div class="row-fluid">
                <div class="headingwrap2">
                    <h2 id="testamonials">What our clients are saying about the MiCasa Platform.</h2>
  
                </div>
            </div>
        </div>
    </div>
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
                <figcaption class="caption">
                  <p class="lead">"We sold more options and you saved us a lot of time."</p>
                </figcaption>
        </div>
        <div class="col-md-4">
                <figcaption class="caption">
                  <p class="lead">"THANK YOU!!  Our buyers love the system!"</p>
                </figcaption>
       </div>
        <div class="col-md-4">
                <figcaption class="caption">
                  <p class="lead">"I want to thank you for your help in organizing and uploading all of this information.  You have made the transition to MiCasa very easy, and downright pleasant!"</p>
                </figcaption>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
                <figcaption class="caption">
                  <blockquote class="no-margin">
                    <p>Mike A.</p> <small><cite title="Source Title">President</cite></small> </blockquote>
                </figcaption>
        </div>
        <div class="col-md-4">
                <figcaption class="caption">
                  <blockquote class="no-margin">
                    <p>Jackie G.</p> <small><cite title="Source Title">Vice President of Sales and Marketing</cite></small> </blockquote>
                </figcaption>
       </div>
        <div class="col-md-4">
                <figcaption class="caption">
                  <blockquote class="no-margin">
                    <p>Marie A.</p> <small><cite title="Source Title">Purchasing Manager</cite></small></blockquote>
                </figcaption>
        </div>
      </div>
    </div>
</div>
