<footer id="footer" class="application">
    <div id="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h3>MiCasa Upgrades LLC</h3>
                    <ul class="links">
                        <li><a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#/#features" du-smooth-scroll>Features</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>
                            <a href="#jobs">Jobs</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 pull-right">
                    <p>353 E. Angeleno Ave. STE A Burbank CA, 91502</p>
                    <p><i class="fa fa-phone"></i>
                        <abbr title="Phone">P</abbr>: (800) 406-7830</p>
                    <p><i class="fa fa-envelope-o"></i>
                        <abbr title="Email">E</abbr>: <a href="mailto:info@micasaupgrades.com.com">info@micasaupgrades.com</a>
                    </p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li>
                            <a href="https://www.facebook.com/micasaupgrades"><i class="fa fa-facebook-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/micasa-home-upgrades"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/micasaupgrades"><i class="fa fa-twitter-square fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- End column 4 -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End #footer-inner -->
    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                </div>
                <!-- End .col-md-7 -->
                <div class="col-sm-5">
                    <p>© 2015 MiCasa Upgrades LLC All Rights Reserved.</p>
                </div>
                <!-- End .col-md-5 -->
            </div>
            <!-- End .row -->
        </div>
    </div>
</footer>
