<!-- Fixed navbar -->
<div id="header-top" data-original-title="" title="">
    <!-- holds the top border style and for creating top space if needed -->
</div>
<nav class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" icNavAutoclose>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" du-smooth-scroll>
                <img alt="MiCasa Logo" class="img-responsive" src="https://assets0.micasa.build/assets/micasa-logo-4923661314c6fd374dd7d546c8589c17.png" data-original-title="" title="MiCasa Upgrades">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="#/#features" du-smooth-scroll>Features</a>
                </li>
                <li><a href="#about" du-smooth-scroll offset="">About</a>
                </li>
                <li><a href="#contact" du-smooth-scroll offset="">Contact</a>
                </li>
                <li><a href="/blog" du-smooth-scroll offset="">Blog</a>
                </li>
                <li><a href="#jobs" du-smooth-scroll offset="">We're Hiring!</a>
                </li>
                <li>
                    <a href="#signin" du-smooth-scroll offset="">Sign In</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
